a:link { text-decoration: none; } 
a:visited { text-decoration: none; } 
a:hover { text-decoration: none; } 
a:active { text-decoration: none; }

.profilePicture
{
    margin-left: 10px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    border: 3px solid #000000;
    border-radius: 15px;
}

.largeProfilePicture
{
    width: 200px;
    height: 200px;
    border: 3px solid #000000;
    border-radius: 15px;
}

.topBarRight
{
    display: flex;
    align-items: center;
    justify-content: "flex-end"
}

.titleText
{
    margin-left: 20px;
    font-family: verdana, sans-serif black;
    font-weight: bold;
    font-size: 35px;
}

.usernameText
{
    font-family: verdana, sans-serif black;
    font-size: 20px;
}

.generalText
{
    font-family: 'Trebuchet MS';
    font-size: 20px;
}

.biggerText
{
    font-family: 'Trebuchet MS';
    font-size: 25px;
    font-weight: bold;
}

.rectangle
{
    width: 300px;
    height: 300px;
    border: 2px solid #263969;
    border-radius: 20px;
    background-color: rgb(218, 234, 234);
}

.modal {
    width: 800px;
    height: 550px;
    position: initial;
    display: block;
    padding: 15px 15px;
    line-height: 20px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 25px;
    border: 2px solid #000000;
}
