a:link { text-decoration: none; } 
a:visited { text-decoration: none; } 
a:hover { text-decoration: none; } 
a:active { text-decoration: none; }

.profilePicture
{
    margin-left: 10px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    border: 1.5px solid #000000;
    border-radius: 15px;
    object-fit: cover;
}

.largeProfilePicture
{
    width: 220px;
    height: 220px;
    border: 1.5px solid #000000;
    border-radius: 15px;
    object-fit: cover;
}

.topBarRight
{   
    margin-left:auto;
    display: flex;
    align-items: center;
    justify-content: "flex-end"
}

.headerText
{
    font-family: 'Trebuchet MS';
    font-size: 40px;
    align-self: "self-start";
    margin-top:"10px";
}

.directionText
{
    font-family: 'Trebuchet MS';
    font-size: 24px;
    align-self: "self-start";
    margin-top:"10px";
}

.headerPageText
{
    font-family: verdana, sans-serif black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: "flex-start"
}

.titleText
{
    margin-left: 20px;
    font-family: verdana, sans-serif black;
    font-weight: bold;
    font-size: 35px;
}

.usernameText
{
    font-family: verdana, sans-serif black;
    font-size: 20px;
}

.generalText
{
    font-family: 'Trebuchet MS';
    font-size: 20px;
}

.accountText
{
    font-family: 'Trebuchet MS';
    font-size: 20px;
    align-self: "self-start";
    margin-top:"10px";
}

.biggerText
{
    font-family: 'Trebuchet MS';
    font-size: 25px;
    font-weight: bold;
}

.rectangle
{
    width: 300px;
    height: 300px;
    border: 2px solid #263969;
    border-radius: 20px;
    background-color: rgb(218, 234, 234);
}

.modal {
    width: 350px;
    height: 200px;
    position: initial;
    display: block;
    padding: 20px 20px;
    line-height: 20px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 25px;
    border: 1.5px solid #000000;
}

.showProfilePic
{
    width: 240px;
    height: 240px;
    border: 1.5px solid #000000;
    border-radius: 15px;
    object-fit: cover;
}